.modal {
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}
.modal.open {
    background-color: #000000ad;
    z-index: 4;
    opacity: 1;
}
.modal-fade{
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 1;
}
.modal-content {
    position: absolute;
    top: 25%;
    left: 50%;    
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    opacity: 0;
}
.modal.open .modal-content {
    top: 50%;
    background-color:aliceblue ;
    border-radius: 12px;
    transition: all ease-in .5s;
    opacity: 1;
}
.modal.open  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #bbbbbb;
}
.modal.open .modal-header h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.modal.open  .modal-header svg{
    cursor: pointer;
    transition: all ease-in 0.3s;

}
.modal.open  .modal-header svg:hover{
    rotate: 90deg;
}
.modal.open  .model-body{
    margin-top: 1rem;
}
.modal.open  .model-body p{
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    
}
.modal.open  .model-footer{
    display: flex;
    align-items: end;
    padding: 0.5rem 1rem;
    justify-content: end;
    gap: 1rem;
}
.modal.open  .model-footer button{
    width: 15%;
}

@media screen and (max-width:1025px) {
    .modal-content {
        width: 60%;
    }
    
}
@media screen and (max-width:770px) {
    .modal-content {
        width: 80%;
    }
    .modal.open .modal-header h1{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 28px;
    }
    
}
@media screen and (max-width:500px) {
    .modal-content {
        width: 95%;
    }
    .modal.open  .model-footer{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        justify-content: center;
        gap: 1rem;
    }
    .modal.open  .model-footer button{
        width: 45%;
    }
    .modal.open .modal-header h1{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 20px;
    }
    .modal.open  .model-body p{
        font-size: 14px;
    }
}